{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Activity Detail
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4>Activity detail</h4>
            <h4 class="orange">{{ object }}</h4>
            {% if object.description %}
                Description: {{ object.description }}{% endif %}<br>
            <small>
                <a href="{% url 'activity-update-view' object.pk %}">Update</a> |
                <a href="{% url 'activity-delete-view' object.pk %}">Delete</a>
            </small>
            <hr>
            <h4>Children using the activity</h4>
            <div>
                {% for child in object.child_set.all %}
                    <a href="{% url 'child-detail-view' child.pk %}">{{ child }}</a><br>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}