{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Activity list
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <table>
                <tr>
                    <th>Activity name</th>
                    <th>Description</th>
                    <th>Children</th>
                </tr>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.name }}</td>
                        <td>{{ object.description }}</td>
                        <td align="center">{{ object.child_set.all|length }}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <div>
                <input type="button"
                       onclick="location.href='{% url 'activity-create-view' %}'"
                       class="btn btn-success"
                       value="Add new activity">
            </div>
        </div>
    </div>
{% endblock %}