{% extends 'base.html' %}
{% load fontawesome %}

{% block title %}
    {{ block.super }} | Caregiver Detail
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4>Caregiver Detail</h4>
            <h4 class="orange">{{ object }}</h4>
            {% fontawesome_icon 'phone' color='blue' %} {{ object.phone }}<br>
            {% fontawesome_icon 'envelope' color='blue' %} {{ object.email }}<br>
            <small>
                <a href="{% url 'caregiver-update-view' object.pk %}">Update</a> |
                <a href="{% url 'caregiver-delete-view' object.pk %}">Delete</a>
            </small>
            <hr>
              <input type="button"
               onclick="location.href='{% url 'main-view' %}'"
               class="btn btn-dark"
               value="Back">
        </div>
    </div>
{% endblock %}