{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Diet list
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <table class="table table-striped">
                <tr>
                    <th>Diet name</th>
                    <th>Description</th>
                    <th>Children</th>
                </tr>
                {% for object in object_list %}
                    <tr>
                        <td><a class="orange" href="{% url 'diet-detail-view' object.pk %}">{{ object.name }}</a></td>
                        <td>{{ object.description }}</td>
                        <td align="center">{{ object.child_set.all|length }}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <div>
                <input type="button"
                       onclick="location.href='{% url 'diet-create-view' %}'"
                       class="btn btn-success"
                       value="Add new diet">
            </div>
        </div>
    </div>
{% endblock %}