{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Group Detail
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Group Detail</h3><hr>
            <h4>{{ object }}</h4>
            <p>{{ object.description }}</p>
            <p>
                <a href="{% url 'group-update-view' object.pk %}">Update</a> |
                <a href="{% url 'group-delete-view' object.pk %}">Delete</a>
            </p>
        </div>
    </div>
{% endblock %}