{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Group list
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Current Capacity</th>
                    <th>Max Capacity</th>
                    <th>Description</th>
                </tr>
                {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'group-detail-view' object.pk %}">{{ object.name }}</a></td>
                        <td align="center">{{ object.child_set.all|length }}</td>
                        <td align="center">{{ object.max_capacity }}</td>
                        <td align="center">{{ object.description }}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <div>
                <input type="button"
                       onclick="location.href='{% url 'group-create-view' %}'"
                       class="btn btn-success"
                       value="Add new group">
            </div>
        </div>
    </div>
{% endblock %}