{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Group list
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Current Capacity</th>
                    <th>Max Capacity</th>
                    <th>Description</th>
                </tr>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.name }}</td>
                        <td align="center">{{ object.child_set.all|length }}</td>
                        <td align="center">{{ object.max_capacity }}</td>
                        <td align="center">{{ object.description }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <a href="{% url 'group-create-view' %}">Add a group!</a>
            </div>
        </div>
    </div>
{% endblock %}