{% extends 'base.html' %}
{% load fontawesome %}

{% block content %}
    {% if not request.user.is_superuser %}
        <div class="row">
            <div class="col-sm-6">
                <h3>Your Child</h3>
                {% if not parent.child_set.all %}
                    <p>
                        <strong>You have to register your child</strong>
                    </p>
                {% endif %}

                {% for child in parent.child_set.all %}
                    <h5><a href="{% url 'child-detail-view' child.pk %}">{{ child }}</a></h5>
                {% endfor %}
            </div>
            <div class="col-sm-6">
                <h3>Your Caregivers</h3>
                <p>
                    <strong>Only caregivers are authorized to pick up children from the nursery</strong>
                </p>
                {% for caregiver in parent.caregiver_set.all %}
                    <h5><a href="{% url 'caregiver-detail-view' caregiver.pk %}">{{ caregiver }}</a></h5>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type="button" onclick="location.href='{% url "child-create-view" parent.pk %}'"
                       class="btn btn-dark"
                       value="Add new child">
            </div>
            <div class="col-sm-6">
                <input type="button" onclick="location.href='{% url "caregiver-create-view" parent.pk %}'"
                       class="btn btn-dark"
                       value="Add new caregiver">
            </div>
        </div>
    {% endif %}
    <hr>
    <h4>Nursery's statistics</h4>
    <div class="row">
        <div class="col-sm-4">
            <table>
                <tr>
                    <th class="orange">Group</th>
                    <th class="orange">Current capacity</th>
                </tr>
                {% for group in groups %}
                    <tr>
                        <td>{{ group }}</td>
                        <td align="center">{{ group.child_set.all|length }} / {{ group.max_capacity }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-4">
            <table>
                <tr>
                    <th class="orange">Diet</th>
                    <th class="orange">Children on diet</th>
                </tr>
                {% for diet in diets %}
                    <tr>
                        <td>{{ diet }}</td>
                        <td align="center">{{ diet.child_set.all|length }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-4">
            <table>
                <tr>
                    <th class="orange">Activity</th>
                    <th class="orange">Participating children</th>
                </tr>
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity }}</td>
                        <td align="center">{{ activity.child_set.all|length }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    <h4>Contacts</h4>
    <div class="col-sm-12">
        {% fontawesome_icon 'envelope' color='blue' %} <a class="orange" href="">nursery.recruitment@nursery.com</a><br>
    </div>
{% endblock %}
