{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            {% if not request.user.is_superuser %}
                <h2>Your Child</h2>
                {% if not parent.child_set.all %}
                    <p>
                        <strong>You have to register your child</strong>
                    </p>
                {% endif %}

                {% for child in parent.child_set.all %}
                    <h5><a href="{% url 'child-detail-view' child.pk %}">{{ child }}</a></h5>
                {% endfor %}
                </div>
                <div class="col-sm-6">
                    <h2>Your Caregivers</h2>
                    <p>
                        <strong>Only caregivers are authorized to pick up children from the nursery</strong>
                    </p>
                    {% for caregiver in parent.caregiver_set.all %}
                        <h5><a href="{% url 'caregiver-detail-view' caregiver.pk %}">{{ caregiver }}</a></h5>
                    {% endfor %}
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="button" onclick="location.href='{% url "child-create-view" parent.pk %}'"
                               class="btn btn-info"
                               value="Add new child">
                    </div>
                    <div class="col-sm-6">
                        <input type="button" onclick="location.href='{% url "caregiver-create-view" parent.pk %}'"
                               class="btn btn-info"
                               value="Add new caregiver">
                    </div>
                </div>
            {% endif %}
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <p>
                Quisque faucibus tempor odio rutrum laoreet. Phasellus ut nibh id nulla tempor congue vitae ut
                tellus.
                Vestibulum bibendum sagittis sem non viverra. Integer sed accumsan libero, vel scelerisque erat.
                Praesent ut ante nibh. Quisque a risus in nisi consectetur consectetur. In eu interdum turpis. Donec
                ut
                lectus at quam vulputate tincidunt. Nulla nec leo eu turpis sodales vestibulum. Vestibulum
                scelerisque
                nisi neque, et placerat mauris viverra ut. Cras in faucibus ipsum. Praesent nec magna imperdiet,
                congue
                nisi eu, gravida urna. Suspendisse nunc eros, cursus quis velit quis, eleifend tincidunt odio. Nulla
                blandit leo a turpis mattis, ut commodo elit porta. Duis consequat urna quis tortor iaculis, ut
                pharetra
                felis venenatis. Donec dictum urna sed erat malesuada, et iaculis enim ornare.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <p>
                <small>Tutaj bedą dostępne grupy lub możliwe aktywności / diety</small>
            </p>
            <div>
                <table>
                    <tr>
                        <th>Group name</th>
                        <th>Current capacity</th>
                    </tr>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group }}</td>
                            <td>{{ group.child_set.all|length }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
