<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'main-view' %}">Nursery App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'child-list-view' %}">Children</a>
                        <a class="dropdown-item" href="{% url 'group-list-view' %}">Groups</a>
                        <a class="dropdown-item" href="{% url 'teacher-list-view' %}">Teachers</a>
                        <a class="dropdown-item" href="{% url 'parent-list-view' %}">Parents</a>
                        <a class="dropdown-item" href="{% url 'activity-list-view' %}">Activities</a>
                        <a class="dropdown-item" href="{% url 'diet-list-view' %}">Diets</a>
                    </div>
                </li>
            {% endif %}
            {% if request.user.username %}
                <li class="nav-item">
                    <a class="nav-link" style="color: orangered">You are logged as
                        {{ request.user }}{% if request.user.is_superuser %}(SUPER USER){% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout-view' %}">Logout</a>
                </li>
            {% endif %}
        </ul>
        {#        <form class="form-inline my-2 my-lg-0">#}
        {#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
        {#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#        </form>#}
    </div>
</nav>