{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Parent list
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <table>
                <tr>
                    <th>Username</th>
                    <th>Parent</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Child</th>
                </tr>
                {% for object in object_list %}
                    {% if object.child_set.all %}
                        <tr>
                            <td>{{ object.user.username }}</td>
                            <td align="center">{{ object }}</td>
                            <td align="center">{{ object.phone }}</td>
                            <td align="center">{{ object.email }}</td>
                            {% for child in object.child_set.all %}
                                <td align="center">{{ child }}</td>
                            {% empty %}
                                <td align="center">No children</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h5>Users without children</h5>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Parent</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                {% for object in object_list %}
                    {% if not object.child_set.all %}
                        <tr>
                            <td>{{ object.user.username }}</td>
                            <td align="center">{{ object }}</td>
                            <td align="center">{{ object.phone }}</td>
                            <td align="center">{{ object.email }}</td>
                            <td>
                                <input type="button"
                                       onclick="location.href=''"
                                       class="btn btn-danger"
                                       value="Remove">
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
        </div>
    </div>

{% endblock %}