{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Parent list
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <h4>Active parents List</h4>
            <div>
                {% for object in object_list %}
                    {% if object.child_set.all.count == 0 %}
                    {% else %}
                        <strong>{{ object }}</strong><br>
                        {% for child in object.child_set.all %}
                            <li>{{ child }}</li>
                        {% endfor %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <h4>Parents without children</h4>
            {% for object in object_list %}
                {% if object.child_set.all.count == 0 and object.active %}
                    <li><strong>{{ object }}</strong></li><br>
                    {% else %}
                {% endif %}
            {% endfor %}
            <input type="button"
                           onclick="location.href='{% url 'parent-inactive-view' %}'"
                           class="btn btn-danger"
                           value="Inactive all">
        </div>

    </div>
{% endblock %}