{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Teacher list
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <table class="table table-striped">
                <tr>
                    <th>Teacher</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Groups</th>
                </tr>
                {% for object in object_list %}
                    <tr>
                        <td><a class='orange' href="{% url 'teacher-detail-view' object.pk %}">{{ object }}</a></td>
                        <td>{{ object.phone }}</td>
                        <td align="center">{{ object.email }}</td>
                        {% if not object.group %}
                            <td><a href="{% url 'add-teacher-group-view' object.pk %}">Add to group</a></td>
                        {% else %}
                            <td>{{ object.group }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <div>
                <input type="button"
                       onclick="location.href='{% url 'teacher-create-view' %}'"
                       class="btn btn-success"
                       value="Add new teacher">
            </div>
        </div>
    </div>
{% endblock %}